function String.new 1
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 48
pop this 3
push argument 0
pop this 2
push argument 0
push constant 0
gt
push constant 0
eq
if-goto String.new$IF_FALSE$0
push argument 0
call Array.new 1
pop this 0
goto String.new$SKIP_ELSE$1
label String.new$IF_FALSE$0
push constant 0
pop this 0
label String.new$SKIP_ELSE$1
push constant 0
pop this 1
push pointer 0
return
function String.dispose 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
if-goto String.dispose$IF_FALSE$2
push this 0
call Array.dispose 1
pop temp 0
label String.dispose$IF_FALSE$2
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push this 1
return
function String.charAt 0
push argument 0
pop pointer 0
push argument 1
push constant 1
neg
gt
push argument 1
push this 1
lt
and
push this 0
and
push constant 0
eq
if-goto String.charAt$IF_FALSE$3
push argument 1
push this 0
add
pop pointer 1
push that 0
return
label String.charAt$IF_FALSE$3
push constant 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push argument 1
push constant 1
neg
gt
push argument 1
push this 1
lt
and
push this 0
and
push constant 0
eq
if-goto String.setCharAt$IF_FALSE$4
push argument 1
push this 0
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
label String.setCharAt$IF_FALSE$4
push constant 0
return
function String.appendChar 1
push argument 0
pop pointer 0
push this 1
push this 2
lt
push constant 0
eq
if-goto String.appendChar$IF_FALSE$5
push this 1
push this 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1
push constant 1
add
pop this 1
label String.appendChar$IF_FALSE$5
push pointer 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 1
push constant 0
gt
push constant 0
eq
if-goto String.eraseLastChar$IF_FALSE$6
push this 1
push constant 1
sub
pop this 1
label String.eraseLastChar$IF_FALSE$6
push constant 0
return
function String.intValue 5
push argument 0
pop pointer 0
push this 1
push constant 1
sub
pop local 0
push constant 0
pop local 1
push constant 1
pop local 3
push constant 0
pop local 4
label String.intValue$WHILE_TRUE$7
push local 0
push constant 1
neg
gt
push constant 0
eq
if-goto String.intValue$WHILE_FALSE$8
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 2
push local 2
push constant 45
eq
push constant 0
eq
if-goto String.intValue$IF_FALSE$9
push constant 1
neg
pop local 4
goto String.intValue$SKIP_ELSE$10
label String.intValue$IF_FALSE$9
push local 1
push local 2
push this 3
sub
push local 3
call Math.multiply 2
add
pop local 1
push local 3
push constant 10
call Math.multiply 2
pop local 3
label String.intValue$SKIP_ELSE$10
push local 0
push constant 1
sub
pop local 0
goto String.intValue$WHILE_TRUE$7
label String.intValue$WHILE_FALSE$8
push local 4
push constant 0
eq
if-goto String.intValue$IF_FALSE$11
push local 1
neg
pop local 1
label String.intValue$IF_FALSE$11
push local 1
return
function String.setInt 4
push argument 0
pop pointer 0
push argument 1
push constant 0
eq
push constant 0
eq
if-goto String.setInt$IF_FALSE$12
push constant 0
push this 0
add
push this 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop this 1
push constant 0
return
label String.setInt$IF_FALSE$12
push constant 0
pop local 3
push argument 1
push constant 0
lt
push constant 0
eq
if-goto String.setInt$IF_FALSE$13
push argument 1
neg
pop argument 1
push constant 1
neg
pop local 3
label String.setInt$IF_FALSE$13
push constant 0
pop this 1
push constant 0
pop local 1
label String.setInt$WHILE_TRUE$14
push argument 1
push constant 0
gt
push constant 0
eq
if-goto String.setInt$WHILE_FALSE$15
push local 1
push constant 1
add
push this 2
gt
push constant 0
eq
if-goto String.setInt$IF_FALSE$16
push constant 0
return
label String.setInt$IF_FALSE$16
push argument 1
push argument 1
push constant 10
call Math.divide 2
push constant 10
call Math.multiply 2
sub
pop local 0
push local 1
push this 0
add
push this 3
push local 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1
push constant 1
add
pop this 1
push local 1
push constant 1
add
pop local 1
push argument 1
push constant 10
call Math.divide 2
pop argument 1
goto String.setInt$WHILE_TRUE$14
label String.setInt$WHILE_FALSE$15
push local 3
push constant 0
eq
if-goto String.setInt$IF_FALSE$17
push local 1
push this 0
add
push constant 45
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1
push constant 1
add
pop this 1
push local 1
push constant 1
add
pop local 1
label String.setInt$IF_FALSE$17
push constant 0
pop local 1
label String.setInt$WHILE_TRUE$18
push local 1
push this 1
push constant 2
call Math.divide 2
lt
push constant 0
eq
if-goto String.setInt$WHILE_FALSE$19
push local 1
push this 0
add
pop pointer 1
push that 0
pop local 2
push local 1
push this 0
add
push this 1
push local 1
sub
push constant 1
sub
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1
push local 1
sub
push constant 1
sub
push this 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto String.setInt$WHILE_TRUE$18
label String.setInt$WHILE_FALSE$19
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
